@import 'compass/reset';
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.note {
  .name {
    text-transform: uppercase;
  }
}

#triads, #controls {
  @extend .container;
}
.triad {
  @extend .row;
  margin-bottom: 0;
}

#controls {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  select {
    @include make-sm-column(1);
  }
  .quality {
    @include make-sm-column(1);
    line-height: 2;
  }
}
#triads {
  @include gradient-vertical(#fef9e6, #eaffb9);
  border: 2px solid #99c369;
  border-radius: 1rem;
  .triad:last-child .tone {
    border-bottom: none;
  }
}
.tone {
  @include make-sm-column(4);
  border: solid #99c369;
  border-width: 0 1px 1px 0;
  &:last-child {
    border-right: none;
  }
  .note {
    @include make-sm-column(12);
    height: 20rem;
    text-align: center;
    font-size: 3rem;
    line-height: 6;
    color: #7c983d;
  }
}