@import "compass/reset";
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

////////////////////////////////////////////////////////////////////////////////
//                                  General                                   //
////////////////////////////////////////////////////////////////////////////////

body {
  background: #144860;
}

a {
  color: #99c369;
  &:hover {
    color: #ff8935;
  }
}

h1, h2, h3 {
  color: #ff8935;
}

#triads, #controls, #intro, #header {
  @extend .container;
}

#header {
  color: #FEF9E6;
  text-align: center;
}

#controls {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  .hide_enharmonics {
    float: right;
    color: #FEF9E6;
  }
}

.enharmonics_hidden .enharmonics {
  visibility: hidden;
}

#intro {
  margin-top: 3rem;
  color: #FEF9E6;
}

footer {
  margin-top: 3rem;
  color: #FEF9E6;
  text-align: right;
  font-size: 1.1rem;
}

////////////////////////////////////////////////////////////////////////////////
//                                   Triads                                   //
////////////////////////////////////////////////////////////////////////////////


.triad {
  @extend .row;
  margin-bottom: 0;
}

.note {
  .name {
    text-transform: uppercase;
  }
}

#triads {
  @include gradient-vertical(#fef9e6, #b0df7d);
  border: 2px solid #99c369;
  border-radius: 1rem;
  .triad:last-child .tone {
    border-bottom: none;
  }
}

.tone {
  border: solid #99c369;
  border-width: 0 1px 1px 0;
  &:last-child {
    border-right: none;
  }
  &:hover {
    background: radial-gradient(#fef9e6, #b0df7d) ;
  }
  .note {
    text-align: center;
    color: #144860;
    position: relative;
    cursor: pointer;
    .enharmonics {
      position: absolute;
      display: table-cell;
      color: #FF8935;
      font-style: oblique;
      list-style: none;
    }
    .enharmonic {
      float: left;
      margin-right: 1rem;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
//                               Responsive                                   //
////////////////////////////////////////////////////////////////////////////////

@media (min-width: $screen-xs-max) {
  #tone_selector, #quality_selector {
    @include make-sm-column(2);
    padding-left: 0;
  }
  .tone {
    @include make-sm-column(4);
    .note {
      @include make-sm-column(12);
      height: 20rem;
      font-size: 3.6rem;
      line-height: 6;
      .enharmonics {
        font-size: 1.6rem;
        bottom: -1rem;
        right: 1rem;
      }
    }
  }
}

@media (max-width: $screen-xs-min) {
  #tone_selector, #quality_selector {
    @include make-xs-column(6);
    text-align: center;
  }

  #header h1 {
    font-size: 2.4rem;
    padding-top: 0.5rem;
    margin: 1rem 0;
  }
  #controls {
    margin: 1.5rem auto;
    .hide_enharmonics {
      float: right;
      input, label {
        float: right;
      }
      input {
        margin-left: 1rem;
      }
    }
  }
  .tone {
    @include make-xs-column(4);
    .note {
      @include make-xs-column(12);
      height: 10rem;
      font-size: 2.4rem;
      line-height: 4;
      .enharmonics {
        font-size: 1.2rem;
        bottom: -1rem;
        right: 1rem;
        .enharmonic {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
