@import "compass/reset";
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

body {
  background: #144860;
}

a {
  color: #99c369;
  &:hover {
    color: #ff8935;
  }
}

h1, h2, h3 {
  color: #ff8935;
}

.note {
  .name {
    text-transform: uppercase;
  }
}

#triads, #controls, #intro, #header {
  @extend .container;
}
.triad {
  @extend .row;
  margin-bottom: 0;
}

#header {
  color: #FEF9E6;
  text-align: center;
}

#controls {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  select {
    @include make-sm-column(1);
  }
  .quality {
    @include make-sm-column(1);
    color: #FEF9E6;
    line-height: 2;
  }
}
#triads {
  @include gradient-vertical(#fef9e6, #eaffb9);
  border: 2px solid #99c369;
  border-radius: 1rem;
  .triad:last-child .tone {
    border-bottom: none;
  }
}
.tone {
  @include make-sm-column(4);
  border: solid #99c369;
  border-width: 0 1px 1px 0;
  &:last-child {
    border-right: none;
  }
  .note {
    @include make-sm-column(12);
    height: 20rem;
    text-align: center;
    font-size: 3.6rem;
    line-height: 6;
    color: #144860;
  }
}

#intro {
  margin-top: 3rem;
  color: #FEF9E6;
}

footer {
  margin-top: 3rem;
  color: #FEF9E6;
  text-align: right;
  font-size: 1.1rem;
}