<div id="controls">
  <select class="form-control" ng-model="selectedTone"
          ng-options="tone for tone in tones"></select>
  <span class="quality">
    Major
  </span>
</div>

<div id="triads">
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="M3"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="P5"></note>
    </li>
  </ul>
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone" transpose="M-3"></note>
    </li>
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="m3"></note>
    </li>
  </ul>
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone" transpose="P-5"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="m-3"></note>
    </li>
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
  </ul>

</div>