<div id="header">
  <h1>Tri&aacute;ngulo</h1>
</div>
<div id="controls">
  <select class="form-control" ng-model="selectedTone"
          ng-options="tone for tone in tones"></select>
  <span class="quality">
    Major
  </span>
</div>

<div id="triads">
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="M3"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="P5"></note>
    </li>
  </ul>
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone" transpose="M-3"></note>
    </li>
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="m3"></note>
    </li>
  </ul>
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone" transpose="P-5"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="m-3"></note>
    </li>
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
  </ul>
</div>

<div id="intro">
  <h2>About</h2>
  <p>Tri&aacute;ngulo is a sandbox where Music Theory and Javascript meet.</p>
  <h2>Acknowledgement</h2>
  <p>
    Thanks to <a href="http://saebekassebil.me/">Jakob Miland</a> aka
    <a href="https://github.com/saebekassebil">@saebekassebil</a>
    for <a href="https://github.com/saebekassebil/teoria">Teoria.js</a>.
  </p>
</div>
<footer>
  <p>
    humbly put together by <a href="http://fmquaglia.me">@fmquaglia</a>
  </p>
</footer>

