<div id="header">
  <h1>Tri&aacute;ngulo</h1>
</div>
<div id="controls">
  <div id="tone_selector">
    <select class="form-control"
            ng-model="selectedTone"
            ng-options="tone for tone in tones"></select>
  </div>
  <div id="quality_selector">
    <select class="form-control"
            ng-model="selectedQuality"
            ng-options="quality for quality in qualities"></select>
  </div>
  <span class="checkbox hide_enharmonics">
    <label for="hide_enharmonics">
      <input id="hide_enharmonics" type="checkbox" ng-model="hideEnharmonics"/>
      Hide Enharmonics
    </label>
  </span>
</div>

<div id="triads" ng-class="{'enharmonics_hidden': hideEnharmonics}">
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][0][1]"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][0][2]"></note>
    </li>
  </ul>
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][1][0]"></note>
    </li>
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][1][2]"></note>
    </li>
  </ul>
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][2][0]"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][2][1]"></note>
    </li>
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
  </ul>
</div>

<div id="intro">
  <h2>About</h2>

  <p>Tri&aacute;ngulo is a sandbox where Music Theory and Javascript meet.</p>

  <h2>Acknowledgement</h2>

  <p>This small toy is possible thanks to the amazing work of:</p>

  <p>
    <a href="http://saebekassebil.me/">Jakob Miland</a> aka <a
      href="https://github.com/saebekassebil">@saebekassebil</a> for <a
      href="https://github.com/saebekassebil/teoria">Teoria.js</a>.
  </p>

  <p>
    <a href="http://mudcu.be">Michael Deal</a> aka <a
       href="https://github.com/mudcube">@mudcube</a> for <a
       href="https://github.com/mudcube/MIDI.js">MIDI.js</a>
  </p>
</div>
<footer>
  <p>
    humbly put together by <a href="http://fmquaglia.me">@fmquaglia</a>
  </p>
</footer>

