<div ng-include="'/views/partials/header.html'"></div>

<div id="controls">
  <div id="tone_selector">
    <select class="form-control"
            ng-model="selectedTone"
            ng-options="tone for tone in tones"></select>
  </div>
  <div id="quality_selector">
    <select class="form-control"
            ng-model="selectedQuality"
            ng-options="quality for quality in qualities"></select>
  </div>
  <span class="checkbox hide_enharmonics">
    <label for="hide_enharmonics">
      <input id="hide_enharmonics" type="checkbox" ng-model="hideEnharmonics"/>
      Hide Enharmonics
    </label>
  </span>
</div>

<div id="triads" ng-class="{'enharmonics_hidden': hideEnharmonics}">
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][0][1]"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][0][2]"></note>
    </li>
  </ul>
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][1][0]"></note>
    </li>
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][1][2]"></note>
    </li>
  </ul>
  <ul class="triad">
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][2][0]"></note>
    </li>
    <li class="tone">
      <note key="selectedTone" transpose="triads[selectedQuality][2][1]"></note>
    </li>
    <li class="tone">
      <note key="selectedTone"></note>
    </li>
  </ul>
</div>
